@font-face {
    font-family: "Times New Roman", "Times New Roman", Sans-Serif, sans-serif;
}

html {
    font-size: 20px;
    color: #656665;
}

body {
    margin: auto;
    padding: 0 20%;
    background: #ebe8e8;
    text-align: center;
}

.form {
    margin: 30% auto;
    font-size: 26px;
    font-weight: bold;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.but {
    margin: 2%;
    width: 100%;
}

button {
    background: #66CDAA;
    padding: 4% 5%;
    font-size: 20px;
    color: #656665;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: 0;
    cursor:pointer;
    outline: none;
    transition: all 0.5s;
    width: 400px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
    background: #66CDAA;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    box-shadow: 0 0 10px 0 #66CDAA inset, 0 0 10px 4px #66CDAA;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}