<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/index</url-pattern>
    </servlet-mapping>

    <!--Search-->

    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.SearchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/search/searchUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchGroupServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.SearchGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchGroupServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/search/searchGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/search/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupsServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.GroupsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupsServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/search/groups</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportForSelectedUserServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.ReportForSelectedUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportForSelectedUserServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/search/reportForSelectedUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportForSelectedGroupServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.ReportForSelectedGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportForSelectedGroupServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/search/reportForSelectedGroupServlet</url-pattern>
    </servlet-mapping>

    <!--Add-->

    <servlet>
        <servlet-name>SearchUserServletToAdd</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.add.SearchUserServletToAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServletToAdd</servlet-name>
        <url-pattern>/servlet/searchUserWEB/add/searchUserToAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchGroupServletToAdd</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.add.SearchGroupServletToAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchGroupServletToAdd</servlet-name>
        <url-pattern>/servlet/searchUserWEB/add/searchGroupToAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.add.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/add/addUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddGroupServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.add.AddGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGroupServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/add/addGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FinishServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.add.FinishServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FinishServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/add/finish</url-pattern>
    </servlet-mapping>

</web-app>