<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/index</url-pattern>
    </servlet-mapping>

    <!--Search-->

    <servlet>
        <servlet-name>searchUserServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.SearchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchUserServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/searchUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchGroupServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.SearchGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchGroupServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/searchGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usersServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>groupsServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.GroupsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>groupsServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/groups</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reportForSelectedUserServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.ReportForSelectedUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reportForSelectedUserServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/reportForSelectedUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reportForSelectedGroupServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.search.ReportForSelectedGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reportForSelectedGroupServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/reportForSelectedGroupServlet</url-pattern>
    </servlet-mapping>

    <!--Add-->

    <servlet>
        <servlet-name>SearchUserTestServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.add.SearchUserTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserTestServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/searchUserTest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchGroupTestServlet</servlet-name>
        <servlet-class>ext.by.peleng.reports.searchUserWEB.add.SearchGroupTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchGroupTestServlet</servlet-name>
        <url-pattern>/servlet/searchUserWEB/searchGroupTest</url-pattern>
    </servlet-mapping>

</web-app>